<h1><i>My Bookmarks Project</i></h1>
<p>This is the home page for the <a href="http://gino-project-1.heroku.com">
    Ruby on Rails Bookmark</a> project 1.
</p>
<%= link_to "New Bookmark", new_path, :class => "newbookmark_button round"%>
