<header>
	<%= image_tag("book_logo.jpg", :alt => "Application Logo", :class =>" round round-logo") %>
	<nav class="round-header">
	  <ul>
		<li><%= link_to "Home",      root_path %></li>
		<li><%= link_to "show",      index_path %></li>
		<li><%= link_to "New",       new_path %></li>
	 </ul>
	</nav>
</header>

